.properties-container {
  background-image: url("https://i.imgur.com/Vss1bk0h.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}