.navbar {
  background-color: rgb(67, 41, 29);
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #ffffff;
}

.nav-menu {
  background-color: rgb(67, 41, 29);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffffff;
  color: darkolivegreen;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: rgb(67, 41, 29);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.acrebound-logo {
  display: inline-flex;
  width: 60vw;
  margin-left: 2vw;
  max-height: 8vw;
}

.logo-img {
  max-height: 8vw;
}

.logout, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .nav-options {
    display: flex;
    width: 32vw;
    padding-right: 2vw;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    color: white;
  }

  .nav-link,
  .logout,
  .hello-owner{
    color: white;
  }

  .nav-link:hover,
  .logout:hover,
  .hello-owner:hover{
    color: green;
    text-decoration: underline;
  }

  .nav-link,
  .logout{
padding: 0px 4px;
  }

  .hello-owner{
    font-size: 1.8vw;
    padding-right: 4px;
  }